@import "./config";
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');


body {
  font-family: $fontoverpass ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow-x: hidden;
  

}

html {
  overflow-x: hidden;
  min-height: 100vh;
}



